<ion-header id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>旁站记录</span>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="ios-construct-outline" style="margin: 0px;" item-start></ion-icon>
      <ion-label color="dark">旁站名称</ion-label>
      <ion-input item-end type="text" [(ngModel)]="PZBelong.PZBelongName" readonly text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-construct-outline" style="margin: 0px;" item-start></ion-icon>
      <ion-label color="dark">工序</ion-label>
      <ion-input item-end type="text" [(ngModel)]="PZBelong.Process" readonly text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-construct-outline" style="margin: 0px;" item-start></ion-icon>
      <ion-label color="dark">部位</ion-label>
      <ion-input readonly item-end type="text" [(ngModel)]="PZBelong.Part" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="podium" item-start></ion-icon>
      <ion-label color="dark">施工单位</ion-label>
      <ion-label color="dark" item-end text-right>{{PZBelong.ECUnit.Name}}</ion-label>
    </ion-item>

    <ion-item no-lines="">
      <ion-icon name="time" item-start></ion-icon>
      <ion-label color="dark">开始时间</ion-label>
      <ion-input readonly item-end text-right [(ngModel)]="BeginTime"></ion-input>
    </ion-item>
    <ion-list-header></ion-list-header>
    <ion-item>
      <ion-label color="dark">施工情况</ion-label>
      <button ion-button icon-right clear item-end (click)="addShiGong()">
        {{shigong}}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="dark">检查项</ion-label>
      <button ion-button icon-right clear item-end (click)="addJianCha()">
        {{jiancha}}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-list-header></ion-list-header>
    <ion-item>
      <ion-label color="dark">发现问题</ion-label>
    </ion-item>
    <textarea type="text" readonly [(ngModel)]="PZrecord.FindPromble" placeholder="问题情况"></textarea>
    <textarea type="text" readonly [(ngModel)]="PZrecord.Suggestion" placeholder="处理建议"></textarea>
    <ion-item>
      <ion-icon name="ios-camera-outline" item-start></ion-icon>
      记录上传文件
    </ion-item>
    <ul style="list-style: none;margin:0;padding:0">
      <li *ngFor="let photo1 of photoes;let i=index" style="display: inline-block;margin-right: 5px;position: relative">
        <img style="width:120px;height:120px;" [src]="photo1.src">
        <ion-icon name="close" small style="position: absolute;right:0;top:0;" (click)="deletePhoto(i)"></ion-icon>
      </li>
    </ul>
    <ion-item>
      <ion-icon name="podium" item-start></ion-icon>
      <ion-label color="dark">旁站结果</ion-label>
      <ion-label color="dark" item-end text-right>{{curPZState.desc}}</ion-label>
    </ion-item>

    <ion-item *ngIf="curPZState.id!=1">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label color="dark">交班人</ion-label>
      <ion-label color="dark" item-end text-right>{{curEmployee.RealName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      <ion-label color="dark">结束时间</ion-label>
      <ion-input readonly item-end text-right [(ngModel)]="EndTime"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

