<!--
  Generated template for the EpMateEntrySeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>材料进场</span>
  </div>
</ion-header>

<ion-content>
  <div class="historydata">
    <div>
      <p>历史数据总和</p>
    </div>
    <div class="historytx">
      本次进场：<ul>
                <li *ngFor="let pro of ePMaterials.EPMateInfoForEntries">{{pro.EPMaterialModel.Desc}} {{pro.EPMaterialNums+pro.MaterialUnit.UnitName}} {{GetResult(pro.EPEntryResultID)}}</li>
                </ul>
      累计进场: {{sums+ePMaterials.EPMateInfoForEntries[0].MaterialUnit.UnitName}}
    </div>
  </div>
  <ion-list>
    <ion-item >
      基本信息
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      <ion-label color="dark">进场时间</ion-label>
      <ion-datetime displayFormat="YYYY年MM月DD日 HH：mm" cancelText="取消" doneText="确定" placeholder="日期" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="ePMaterials.EntryDate"></ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="ios-construct-outline" style="margin: 0px;" item-start></ion-icon>
      <ion-label color="dark">使用部位</ion-label>
      <ion-input item-end type="text" [(ngModel)]="ePMaterials.UsePlace" placeholder="请输入请用部位" text-right></ion-input>
    </ion-item>
    <ion-list-header></ion-list-header>
    <textarea type="text"  [(ngModel)]="ePMaterials.Details" placeholder="请输入现场进场情况"></textarea>
    <ion-item>
      <ion-icon name="ios-camera-outline" item-start></ion-icon>
      记录上传文件数量:{{photoes.length}}
      <ul style="list-style: none;margin:0;padding:0">
        <li *ngFor="let photo of photoes;let i=index" style="margin-right: 5px;position: relative">
          <span *ngIf="!photoes[i].isPhoto">{{photoes[i].src}}</span>
        </li>
        <li *ngFor="let photo1 of photoes;let i=index" style="display: inline-block;margin-right: 5px;position: relative">
          <img style="width:120px;height:120px;" [src]="photo1.src" *ngIf="photo1.isPhoto">
        </li>
      </ul>
    </ion-item>
  </ion-list>
  <div class="mybt" (click)="AddWitnSample()" *ngIf="type==1">
    {{addwitntext}}
  </div>
</ion-content>
