<ion-header class="header day-header">
  <div class="header-left">

  </div>
  <div class="header-center">
    <span class="text-title day-text-title">消息</span>
  </div>
  <div class="header-right">
    <ion-buttons>
      <button class="header-icon" ion-button clear (click)="denglu()" *ngIf="!hasLogin">
        <ion-icon name="ios-contact-outline" class="icon-big" style="color: black;"></ion-icon>
      </button>
      <button class="header-icon" ion-button clear *ngIf="hasLogin">
        <ion-icon name="ios-contact-outline" class="icon-big" style="color: black;"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content class="day-background" padding>
  <ion-list>
    <ion-item navPush="Chat"
                             [navParams]="toUser">
    <ion-avatar item-left>
      <img src="./assets/to-user.jpg">
    </ion-avatar>
    <h2>Hancock</h2>
    <p>If at first you don’t succeed, call it version 1.0</p>
    <ion-note item-end>3:43 pm</ion-note>
  </ion-item>
    <ion-item navPush="Chat"
              [navParams]="toUser">
      <ion-avatar item-start>
        <img src="./assets/user.jpg">
      </ion-avatar>
      <h2>向辉</h2>
      <p>Yes,I am the one</p>
      <ion-note item-end>7:45 pm</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
