<!--
  Generated template for the AccepetanceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span *ngIf="!hasEntered">施工单位报送检验批</span>
    <span *ngIf="hasEntered">质量验收</span>
  </div>
  <ion-buttons end>
    <button ion-button clear end style="width: 0px;" >
    </button>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <div padding color="dark" *ngIf="hasEntered">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="unfinished">
        未完成
      </ion-segment-button>
      <ion-segment-button value="finished">
        已完成
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'unfinished'">
        <ion-item *ngFor="let i of unSumbitPz;" (click)="GoToInspectionRecord(i,0)">
          <ion-avatar item-start>
            <img src="./assets/imgs/workicon/secissues.png">
          </ion-avatar>
          <h2><button ion-button color="light" outline>未完成</button></h2>
          <p [ngStyle]="{'color':'red'}">检验批:{{GetInspectionTypeName(i)}}</p>
          <!--<ion-note item-end>{{GetTime(i.BeginTime)}}</ion-note>-->
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'finished'">
        <ion-item *ngFor="let i of unSumbitPz;" (click)="GoToInspectionRecord(i,1)">
          <ion-avatar item-start>
            <img src="./assets/imgs/workicon/secissues.png">
          </ion-avatar>
          <h2><button ion-button color="light" outline>完成</button></h2>
          <p [ngStyle]="{'color':'red'}">检验批:{{GetInspectionTypeName(i)}}</p>
          <!--<ion-note item-end>{{GetTime(i.BeginTime)}}</ion-note>-->
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-fab right bottom style="bottom: 70px;">
    <button ion-fab color="light" (click)="Load()" *ngIf="hasEntered"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="newInspection()" *ngIf="hasEntered"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list *ngIf="!hasEntered">
    <ion-item *ngFor="let i of reportItems" (click)="EnterReportInspection(i)">
      <ion-avatar item-start>
        <img src="./assets/imgs/workicon/epmatelist.png">
      </ion-avatar>
      <ion-label>{{i.EPCheckParent.EPCheckName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
