<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span> 旁站记录</span>
  </div>
  <div class="header-right" (click)="newRecord()">
    <button clear ion-button clear icon-only>
      <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
    </button>
  </div>
</ion-header>
<!--style="background-color: #d6d6d6;"-->

<ion-content >
  <div *ngFor="let recordClass of recordClasses;let i=index">
    <button  ion-button class="myButton" (click)="togglelist(i)">
      <ion-icon [name]="iconName[i]"></ion-icon>
      <span margin-left="8px">{{recordClass}}</span>
    </button>
    <ion-list style="margin: 0">
      <ng-container *ngIf="!isLoad">
        <ion-item class="lineList" *ngFor="let uncompleteItem of getRecord(recordClass);" [hidden]="hiddenItem[i]" (click)="ToRecord(uncompleteItem,i)">
          <ion-avatar item-start>
            <img src="./assets/icon/user.png">
          </ion-avatar>
          <h2 >{{uncompleteItem.EPCSID}}</h2>
          <p item-right>{{GetTime(uncompleteItem.EndTime)}}</p>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>

</ion-content>

