<!--
安全隐患查看页面
-->

<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>问题跟踪处理</span>
  </div>
</ion-header>


<ion-content>
  <ion-list>
  <div class="fenge"></div>
  <div class="EPInfo" (click)="Down()" >
    <ion-label>基本信息</ion-label>
    <div>
      <span>{{ePSecIssue.Details}}</span>
      <img [src]="imgpath" style="position: absolute;left:90%; ">
    </div>
    <div [hidden]="IsDown==0" >
      <p>限 期 完 成: {{GetTime(ePSecIssue.Deadline)}}</p>
      <p>施 工 处 理 人: {{ePSecIssue.HandleEmployee}}</p>
      <p>问 题 跟 踪 人: {{ePSecIssue.Employee.RealName}}</p>
      <p>风 险 评 估:{{ePSecIssue.EPSecRisk.Desc}}</p>
    </div>
    <ul style="list-style: none;margin-top: 10px;padding:0">
      <li *ngFor="let photo of photoes;let i=index" style="margin-right: 5px;position: relative">
        <span *ngIf="!photoes[i].isPhoto">{{photoes[i].src}}</span>
      </li>
      <li *ngFor="let photo1 of photoes;let i=index" style="display: inline-block;margin-right: 5px;position: relative">
        <img style="width:120px;height:120px;" [src]="photo1.src" *ngIf="photo1.isPhoto">
      </li>
    </ul>
  </div>
  <div class="fenge"></div>

  <div color="dark">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="all">
        复查结果
      </ion-segment-button>
      <ion-segment-button value="finished">
        措施汇总
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <h2>暂无数据</h2>
  </div>
    <ion-buttons style="text-align:center;">
      <button ion-button round>
        添加
      </button>
    </ion-buttons>
  </ion-list>
</ion-content>
