<!--
安全隐患查看页面
-->

<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>新增安全问题</span>
  </div>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <img item-left src="assets/imgs/workicon/unitroject.png">
      <ion-label color="dark">发生工程阶段:{{ePSecIssue.UnitPart}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-construct-outline" item-start></ion-icon>
      <ion-label>问题类型:{{ePSecIssue.EPSecProblem.Desc}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-nuclear-outline" item-start></ion-icon>
      <ion-label>危险评估:{{ePSecIssue.EPSecRisk.Desc}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-create-outline" item-start></ion-icon>
      <textarea type="text" [ngStyle]="{'height':'100px','width':'250px'}" placeholder="请输入问题描述"[(ngModel)]="ePSecIssue.Details"></textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-camera-outline" item-start></ion-icon>
      照片(0)
      <ion-buttons item-end clear>
        <ion-icon name='ios-add-outline'></ion-icon>
        添加照片
      </ion-buttons>
      <ul style="list-style: none;margin:0;padding:0">
        <li *ngFor="let photo of photoes;let i=index" style="margin-right: 5px;position: relative">
          <img style="width:120px;height:120px;" [src]="photoes[i].src" *ngIf="photoes[i].isPhoto">
          <span *ngIf="!photoes[i].isPhoto">{{photoes[i].src}}</span>
        </li>
      </ul>
    </ion-item>
    <ion-item>
      <ion-label color="dark">安全隐患记录时间:{{ePSecIssue.EPSecIssueTime}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
