<!--
  Generated template for the AcceptancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="header-left" (click)="goback()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center"  style="height: 48.18px">
    <span *ngIf="AcceptanceRecord.Acceptance">{{AcceptanceRecord.Acceptance.AcceptanceName}}</span>
  </div>
  <ion-buttons end>
    <button ion-button clear item-end end style="width: 0px;padding: 0;"></button>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>要求</ion-label>
    <ion-label text-end>{{AcceptanceRecord.Acceptance.DR_NP}}</ion-label>
  </ion-item>
  <!--<ion-item>-->
    <!--<ion-label color="dark">最小取样数</ion-label>-->
    <!--<ion-input [(ngModel)]="AcceptanceRecord.MinSampleNum" type="number"></ion-input>-->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<ion-label color="dark">实际取样数</ion-label>-->
    <!--<ion-input [(ngModel)]="AcceptanceRecord.RealSampleNum" type="number"></ion-input>-->
  <!--</ion-item>-->
  <ion-item>
    <ion-label color="dark">是否符合要求</ion-label>
    <p item-end>{{IsQualified?'符合':'不符合'}}</p>
    <ion-toggle [(ngModel)]="IsQualified" style="display: inline-block; margin-right: 5px"  [checked]="IsQualified"></ion-toggle>
  </ion-item>
  <div *ngIf="!IsQualified">
    <textarea type="text" [(ngModel)]="AcceptanceRecord.CheckRecord"  placeholder="请输入问题情况"></textarea>
  </div>


  <ion-buttons>
    <button ion-button block color="light" (click)="save()">待确认</button>
    <ion-list></ion-list>
    <button ion-button block (click)="confirm()">确认</button>
  </ion-buttons>
  <div>若不想保存更改请点击左上角</div>
</ion-content>
