<!-- Generated template for the StackPanelComponent component -->
<div>
  <ion-slides>
    <ion-slide>
      <div class="work-grid center-horizontal" style="margin-top: 2% !important;;">
        <div class="row-1">
          <div class="col-1 work-box" (click)="GoWork(0)">
            <img class="box-center" src="assets/imgs/workicon/project.png"><br>
            <span class="text-normal day-text-normal">工程信息</span>
          </div>
          <div class="col-2 work-box" (click)="GoWork(1)">
            <img class="box-center" src="assets/imgs/workicon/pangzhan.png"><br>
            <span class="text-normal day-text-normal">旁站监理</span>
          </div>
          <div class="col-3 work-box" (click)="GoWork(2)">
            <img class="box-center" src="assets/imgs/workicon/zhiliangyanshou.png"><br>
            <span class="text-normal day-text-normal">质量验收</span>
          </div>
          <div class="col-4 work-box" (click)="GoWork(3)">
            <img class="box-center" src="assets/imgs/workicon/mateentry.png"><br>
            <span class="text-normal day-text-normal">材料进场</span>
          </div>
        </div>
        <div class="row-2">
          <div class="col-1 work-box" (click)="GoWork(4)">
            <img class="box-center" src="assets/imgs/workicon/security.png"><br>
            <span class="text-normal day-text-normal">安全巡视</span>
          </div>
          <div class="col-2 work-box" (click)="GoWork(5)">
            <img class="box-center" style="display: none"><br>
            <span class="text-normal day-text-normal"></span>
          </div>
          <div class="col-3 work-box" (click)="GoWork(6)">
            <img class="box-center" style="display: none"><br>
            <span></span>
          </div>
          <div class="col-4 work-box" (click)="GoWork(7)">
            <img class="box-center" src="assets/imgs/workicon/workrecord.png"><br>
            <span class="text-normal day-text-normal">工作记录</span>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="work-grid center-horizontal" style="margin-top: 2% !important;;">
        <div class="row-1">
          <div class="col-1 work-box" (click)="GoWork(0)">
            <img class="box-center" src="assets/imgs/workicon/project.png"><br>
            <span class="text-normal day-text-normal">工程信息</span>
          </div>
          <div class="col-2 work-box" (click)="GoWork(1)">
            <img class="box-center" src="assets/imgs/workicon/pangzhan.png"><br>
            <span class="text-normal day-text-normal">旁站监理</span>
          </div>
          <div class="col-3 work-box" (click)="GoWork(2)">
            <img class="box-center" src="assets/imgs/workicon/zhiliangyanshou.png"><br>
            <span class="text-normal day-text-normal">质量验收</span>
          </div>
          <div class="col-4 work-box" (click)="GoWork(3)">
            <img class="box-center" src="assets/imgs/workicon/mateentry.png"><br>
            <span class="text-normal day-text-normal">材料进场</span>
          </div>
        </div>
        <div class="row-2">
          <div class="col-1 work-box" (click)="GoWork(4)">
            <img class="box-center" src="assets/imgs/workicon/security.png"><br>
            <span class="text-normal day-text-normal">安全巡视</span>
          </div>
          <div class="col-2 work-box">
            <img style="display: none"><br>
            <span></span>
          </div>
          <div class="col-3 work-box">
            <img style="display: none"><br>
            <span></span>
          </div>
          <div class="col-4 work-box">
            <img class="box-center" src="assets/imgs/workicon/workrecord.png"><br>
            <span class="text-normal day-text-normal">工作记录</span>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</div>

