page-ep-add-mate {
  .list-header-md{
    padding-left: 0px;
    margin-bottom: 0px;
    min-height: 0.1rem;
    height: 10px;
    background-color: #f7f3f3;
  }
  .content{
    background-color: white;
  }
  .button-clear-md {
    color: #222222;
  }
  .myDelete{
    position:absolute;
    left:90%;
  }

}
