<!--
  Generated template for the SecIssuesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>安全履职</span>
  </div>
</ion-header>

<ion-content padding>
  <div padding color="dark">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="all">
        未完成
      </ion-segment-button>
      <ion-segment-button value="finished">
        已完成
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'all'">
      <ion-item *ngFor="let i of unfinished;" (click)="GoToExitRecord(i,0)">
        <ion-avatar item-start>
          <img src="./assets/imgs/workicon/secissues.png">
        </ion-avatar>
        <h2>{{i.EPCSID}}<button ion-button color="light" outline>{{getState(i.State)}}</button></h2>
        <p [ngStyle]="{'color':'gray'}">追踪人:{{i.Employee.RealName}}</p>
        <ion-note item-end>{{GetTime(i.EPSecIssueTime)}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'finished'">
      <ion-item *ngFor="let i of finished;" (click)="GoToExitRecord(i,1)">
        <ion-avatar item-start>
          <img src="./assets/imgs/workicon/secissues.png">
        </ion-avatar>
        <h2>{{i.EPCSID}}<button ion-button color="danger" outline>{{getState(i.State)}}</button></h2>
        <p [ngStyle]="{'color':'gray'}">追踪人:{{i.Employee.RealName}}</p>
        <ion-note item-end>{{GetTime(i.EPSecIssueTime)}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addSecurityIssues()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

