mywork {
  ion-col{
    height: 60px;
    font-size: 10px;
  }
  ion-row{
    margin-bottom: 20px;
  }
  img{
  }
  p{
    width: auto;
    position: relative;
    top:-15px;
    text-align: center;
  }
}
