<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>我的工作</span>
  </div>
  <div class="header-right">
    <span></span>
  </div>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="currentProject">
    <ion-icon name="ios-briefcase-outline" item-start></ion-icon>
    <ion-label>项目:{{currentProject.Name}}</ion-label>
    <ion-select [(ngModel)]="currentProject" interface="popover" [compareWith]="compareFn" item-end>
      <ion-option *ngFor="let i of pro;" [value]="i" (ionSelect)="LoadRole()">{{i.Name}}</ion-option>
    </ion-select>
  </ion-item>
  <div>
    <ion-item *ngIf="ISready">
      <p>{{nowtime}}</p>
      <p>{{localplace}}</p>
      <ion-avatar item-left>
        <img [src]='this.imageURI'>
      </ion-avatar>
      <p>{{_weather+'|'+_tempture+'℃'}}</p>
    </ion-item>
  </div>
  <mywork [MyProject]="currentProject" #work1></mywork>
</ion-content>
