page-ep-wit-list {
  ion-note{
    font-size: 12px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top:40px;
    left:210px;
  }
  .content{
    background-color: white;
  }
}
