
<ion-header class="header-index" *ngIf="!SelectingProj">
  <input name="search" class="search" style="background-image: url('assets/imgs/icon/search.png');" type="text" placeholder="请输入关键字">
  <ion-icon name="md-add" class="more"></ion-icon>
  <div class="rotation">
    <my-slides></my-slides>
  </div>
  <div class="fill"></div>
</ion-header>


<ion-content *ngIf="!SelectingProj">
    <ion-item class="headline-box day-headline">
      <label class="text-headline ml" item-start>当前项目</label>
      <label class="text-headline" item-right>{{CurProject.Name}}</label>
      <ion-icon name="md-menu" class=" mr text-headline" item-end (click)="goSelectProj()"></ion-icon>
    </ion-item>
    <stack-panel [CurProject]="CurProject" #stack></stack-panel>

    <ion-item class="headline-box day-headline">
      <label class="text-headline ml" item-start>动态</label>
      <ion-icon name="ios-more" class="mr" style="font-size: 5vh;" item-end></ion-icon>
    </ion-item>
    <ion-list>
      <ion-item class="dev-box day-Interactive" *ngFor="let m of messages">
        <img class="preview-img" [src]="m.SRC">
        <div class="preview-title">
          <ion-icon [name]="m.State"></ion-icon>
          <span>{{m.MessageType}}</span>
          <span class="preview-right">{{m.EmployeeName}}</span>
        </div>
        <div class="preview-msg">
          <label>{{m.DESC}}</label>
        </div>
        <div class="preview-time preview-right">
          <span>{{m.Time}}</span>-
          <span>{{m.EProject}}</span>
        </div>
      </ion-item>
    </ion-list>

  <div class="footer"></div>
</ion-content>


<ion-header class="header day-header" *ngIf="SelectingProj">
    <img class="header-left back" src="assets/imgs/common/back.png" (click)="cancle()"/>
  <div class="header-center">
    <span class="text-title day-text-title">选择项目</span>
  </div>
</ion-header>

<ion-content *ngIf="SelectingProj">
  <ion-item class="list-box" *ngFor="let e of EProjects" (click)="selectProj(e)">
    <ion-label>{{e.Name}}</ion-label>
  </ion-item>


  <div class="footer"></div>
</ion-content>
