
page-index {
  *{
    margin: 0px !important;
    padding: 0px !important;
  }
  //ion-header{
  //  z-index: 1 !important;
  //}
 ion-content{
   font-family: 'Microsoft YaHei';
 }
  ion-icon,span{
    color: #5d5d5d;
    font-size: 1.15rem;
  }
.header-index{
  position: relative;
  height: fit-content !important;
}
  .header-right{

  }
  //Rotation
  .search{
    position: absolute;
    //height: 4.2vh;
    width: 61.8%;
    left: 50%;
    top: 0.38rem;
    //bottom: 0.1vh;
    transform: translateX(-50%);
    z-index: 2;
  }
  .search{
    height: 2.5rem;
    line-height: 2.5rem;
    width: 61.8vw;
    background-repeat: no-repeat;
    background-size: 1.47rem;
    background-position: 5px center;
    padding: 0 0 0 1.72rem !important;
    box-sizing: border-box;
    //box-shadow: none;
    //border: black 1px solid;
    border-radius: 2rem;
  }
  .fill{
    position: relative;
    top: 0;
    height: 3.26rem;
  }
  .more{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.02rem;
    top: 0;
    right: 2.78%;
  }
  .rotation{
    position: relative;
    z-index: 1;
    height: 0rem;
    margin-top: 0;
    transition: all .4s;
  }
  .rotation > my-slides > div >ion-slides{
    height: 0px !important;
    transition: all .4s;
  }
  .img-container > .slide-zoom{
    height: 0px;
    transition: height .4s;
  }
  .search:focus ~ .rotation{
    display: block;
    height: 15rem;
  }
  .search:focus ~ .rotation > my-slides > div >ion-slides{
    height: 15rem !important;
  }
  .search:focus ~ .rotation > my-slides > div >ion-slides > div >div > ion-slide > .slide-zoom{
    height: 15rem !important;
  }
  .search:focus ~ .fill{
    height: 0;
  }
  .search:focus ~ .more{
    display: none;
  }
  .dev-box{
    position: relative;
    height: 8.08rem;
    border-bottom: #DADFE3 1px solid;
  }
  .dev-box:first-of-type{
    border-top: #DADFE3 1px solid;
  }
  .preview-img{
    position: absolute;
    top: 14.28%;
    left: 4.16%;
    height: 13.88vw;
    width: 13.88vw;
  }
  .preview-title{
    position: absolute;
    top: 14.28%;
    left: 25%;
    width: 75%;
  }
  .preview-title > span{
    font-size: 1.4rem;
    font-weight: bold;
  }
  .preview-title > ion-icon{
    font-size: 1.4rem;
  }
  .preview-right{
    position: absolute;
    right: 2.78%;
    font-weight: inherit !important;
  }
  .preview-msg{
    position: absolute;
    top: 38.09%;
    left: 25%;
    width: 61.8%;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .preview-msg > label{
    font-size: 1rem;
    line-height: 1.54rem;
    white-space: nowrap;
  }
  .preview-time{
    position: absolute;
    top: 75%;
    right: 2.78%;
    font-size: 1rem;
    font-weight: inherit;
  }
  .ion-md-checkmark-circle{
    color: #00CC00;
  }
  .ion-md-warning{
    color: #FFCC33;
  }
  .ion-md-remove-circle{
    color: #CC0000;
  }
}
