
page-index {
  *{
    margin: 0px !important;
    padding: 0px !important;
  }
 ion-content{
   font-family: 'Microsoft YaHei';
 }
  ion-icon,span{
    color: #5d5d5d;
    font-size: 15px;
  }
  /*
    #my-slides{
    height: 100px;
    width: auto;
  }
    .mydenglu{
     margin-top: 25px;
    }
    .bar_div{
      width: auto;
      height: 3px;
      margin-top: 3px;
      background-color: #bfbfbf;
    }
    .col-list{
      height: 30px;
    }
    ion-col{
      height: 60px;
      font-size: 10px;
    }
    img{
    }
    p{
      width: 40px;
      position: relative;
      top:-15px;
      text-align: center;
    }
  */

  //xyw
  .flipster{
    position: relative;
    transform-style: preserve-3d;
    perspective:100vw;
  }
  .flipster-item{
    position: absolute;
    max-width: 50vw;
  }
  .flipster-item:first-of-type {
    opacity: 0.5;
    z-index: 1;
    left: 0%;
    transform: rotateY(50deg) translateZ(-50px) translateX(-50%);
  }
  .flipster-item:nth-of-type(2) {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
  .flipster-item:last-of-type {
    opacity: 0.5;
    z-index: 1;
    right: 0%;
    transform: rotateY(-50deg)  translateZ(-50px) translateX(50%);
  }
  .flipster-img {
    width: 31.25vh;
    height: 31.25vh;
    max-width: 50vw;
    max-height: 50vw;
    display: block;
  }
  .flipster-desc {
    width: 31.25vh;
    height: 10vh;
    max-width: 50vw;
    display: block;
    border: #DADFE3 1px solid;
    border-top: none;
    border-radius:0 0 16% 16%;
  }
  .flipster-item:first-of-type >.flipster-desc {
    display: none;
  }
  .flipster-item:last-of-type >.flipster-desc {
    display: none;
  }
}
