// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
body{
  user-select: unset;
}

#header {
  display: block;
  background-color: #f9f9f9;
  background-size: 100% 44px;
  width: 100%;
  height: 44px;
  overflow: hidden;
}

.tabs-md .tab-button {
  min-height: 4rem;
}

.tab-button-icon {
  color: rgba(103, 103, 103, 0.7) !important;
}

.tab-button[aria-selected=true] .tab-button-icon {
  color: #387ef5 !important;
}

.header-left {
  width: 40px;
  height: 44px;
  position: absolute;
}
.header-left img {
  //src:actionUrl('../');
  width: 100%;
  height: 100%;
  padding: 10px;
}
.header-center {
  display: flex;
  height: 44px;
  position: absolute;
  left: 40px;
  right: 40px;
  align-items: center;
  justify-content: center;
}
.header-center span {
  font-size: 17px;
  color: #616161;
}
.header-right {
  width: auto;
  height: 44px;
  position: absolute;
  right: 0;
}
.content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background-color: #F3F5F7;

}
*/
//xyw


ion-content,ion-header {
  position: relative !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑;
}
label, input, select, textarea {
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑;
}
.item-inner {
 border:none !important;
}
.popover-md .popover-content {
  width: 100%  !important;
  left: 0% !important;
}
.fixed-content, .scroll-content{
  margin-top: 0px!important;
}

//theme
.tabbar{
  height: 7.5%;
  background-color: #F2F1EF !important;
}
.day-background{
  color: black;
  //background-color: #F3F5F7 !important;
  background-color: #fafcfe !important;
}
.day-header{
  color: black;
  //background-color: #F3F5F7;
  background-color: #f5f6f8;
}
.day-headline{
  //background-color: #F3F5F7;
  background-color: #fafcfe !important;
  border: none;
}
.day-Interactive{
  color: black;
  //background-color: #F2F1EF;
  //background-color: #f4f4f4;
  //background-color: #f3f8fd70;
  background-color: #F3F5F7;
  border-left: none;
  border-right: none;
}
.day-btn-normal{
  background-color: #F3F5F7;
  border: 1px solid #EEEEEE;
}
.day-btn-notice{
  background-color: #007aff;//1ab6ff
  //background-image: radial-gradient(#1ab6ff,#007aff);
  color: #ffffff;
  border: 1px solid blue;
}
.day-btn-danger{
  background-color: #e64d3d;
}
.day-text-title{
  color: #5d5d5d;
}
.day-text-headline{
  color: black;
}
.day-text-normal{
  color: black;
}
.day-text-danger{
  color: black;
}
//frame
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.center-virtical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ml{
  margin-left: 2.78% !important;
}
.mr{
  margin-right: 2.78% !important;
}
.header{
  height: 7.03%;
  line-height: 7.03%;
  position: relative;
}
.header-left{
  position: absolute;
  left:0px;
}
.back{
  height: 4vh;
  width: 4vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-right{
  position: absolute;
  top: 50%;
  right:0px;
  transform: translateY(-50%);
}
.header-icon{
  height: 6vh;
  width: 6vh;
}
.icon-big{
  font-size: 4.5vh;
}
.headline-box{
  height: 7.81%;
  position: relative;
  line-height: 7.81%;
}
.headline-box > div {
  border: none !important;
}
.message-box{
  height: 7.03%;
  position: relative;
  border-bottom: #DADFE3 1px solid;
}
ion-list > .message-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
.item-box{
  height: 7.81%;
  position: relative;
  border-bottom: #DADFE3 1px solid;
}
.select-text{
}
ion-list > .item-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
.fab-rb1{
  position: absolute;
  bottom: 70px;
  right: 0px;
}
.fab-rb2{
  position: absolute;
  bottom: 140px;
  right: 0px;
}
//text

.text-center-horizontal{
  text-align: center;
}
.text-title{
  font-size: 2.5vh;
  font-weight: bold;
  line-height: 7.02vh;
}
.text-headline{
  font-size: 3.75vh;
}
.text-normal{
  font-size: 2.19vh;
}
.text-danger{

}

