// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
#header {
  display: block;
  //background-color: #f9f9f9;
  //background-size: 100% 44px;
  width: 100%;
  //height: 44px;
  //overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  //overflow: scroll;
}
*/
//xyw

ion-content,ion-header {
  position: relative !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑;
}
label, input, select, textarea {
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑;
}
.item-inner {
 border:none !important;
}
.popover-md .popover-content {
  width: 100%  !important;
  left: 0% !important;
}
.fixed-content, .scroll-content{
  margin-top: 0px!important;
}
.item-block, .item > ion-icon, .item-inner > ion-icon{
  min-height: 0px;
}

//theme
.tabbar{
  height: 4.5rem;
  background-color: #F2F1EF !important;
}
.day-background{
  color: black;
  //background-color: #F3F5F7 !important;
  background-color: #fafcfe !important;
}
.day-header{
  color: black;
  //background-color: #F3F5F7;
  //background-color: #f5f6f8;
  //background: linear-gradient(to right, #23a7f2, #1ab6ff, #23a7f2);
}
.day-headline{
  //background-color: #F3F5F7;
  //background-color: #fafcfe !important;
  background-color: #F3F5F7 !important;
  border: none;
}
.day-Interactive{
  color: black;
  //background-color: #F2F1EF;
  //background-color: #f4f4f4;
  //background-color: #f3f8fd70;
  background-color: #fff;
  border-left: none;
  border-right: none;
}
.day-btn-normal{
  background-color: #F3F5F7;
  border: 1px solid #EEEEEE;
}
.day-btn-notice{
  background-color: #007aff;//1ab6ff
  //background-image: radial-gradient(#1ab6ff,#007aff);
  color: #ffffff;
  border: 1px solid blue;
}
.day-btn-danger{
  background-color: #e64d3d;
}
.day-text-title{
  color: #5d5d5d;
}
.day-text-headline{
  color: black;
}
.day-text-normal{
  color: black;
}
.day-text-danger{
  color: black;
}
//frame
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.center-virtical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ml{
  margin-left: 2.78% !important;
}
.mr{
  margin-right: 2.78% !important;
}
.header{
  height: 3.46rem;
  line-height: 3.46rem;
  position: relative;
}
.header-left{
  position: absolute;
  left:0px;
}
.back{
  height: 1.97rem;
  width: 1.97rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 61.8%;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header-right{
  position: absolute;
  top: 50%;
  right:0px;
  transform: translateY(-50%);
}
.header-icon{
  height: 2.95rem;
  width: 2.95rem;
}
.icon-big{
  font-size: 2.22rem;
}
.headline-box{
  //height: 7.81%;
  height: 4.08rem;
  position: relative;
  //line-height: 7.81%;
}
.headline-box > div {
  border: none !important;
}
.message-box{
  height: 7.03%;
  position: relative;
  border-bottom: #DADFE3 1px solid;
}
ion-list > .message-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
.list-box{
  position: relative;
  height: 3.78rem;
  border-bottom: #DADFE3 1px solid;
}
.item-box{
  position: relative;
  height: 6rem;
  border-bottom: #DADFE3 1px solid;
}
.operation-box{
  position: relative;
  height: 4rem;
  border-bottom: #DADFE3 1px solid;
}
.select-text{
}
ion-list > .list-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
ion-list > .item-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
ion-list > .operation-box:first-of-type {
  border-top: #DADFE3 1px solid;
}
.fab-rb1{
  position: absolute;
  bottom: 70px;
  right: 0px;
}
.fab-rb2{
  position: absolute;
  bottom: 140px;
  right: 0px;
}
.footer{
  height: 10rem;
}
//text

.text-center-horizontal{
  text-align: center;
}
.text-title{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.46rem;
}
.text-headline{
  max-width: 61.8%;
  font-size: 1.6rem;
  line-height: 4.08rem;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-normal{
  font-size: 1.08rem;
}
.text-danger{

}

