// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{
  user-select: unset;
}

#header {
  display: block;
  background-color: #f9f9f9;
  background-size: 100% 44px;
  width: 100%;
  height: 44px;
  overflow: hidden;
}

.tabs-md .tab-button {
  min-height: 4rem;
}

.tab-button-icon {
  color: rgba(103, 103, 103, 0.7) !important;
}

.tab-button[aria-selected=true] .tab-button-icon {
  color: #387ef5 !important;
}

.header-left {
  width: 40px;
  height: 44px;
  position: absolute;
}
.header-left img {
  //src:actionUrl('../');
  width: 100%;
  height: 100%;
  padding: 10px;
}
.header-center {
  display: flex;
  height: 44px;
  position: absolute;
  left: 40px;
  right: 40px;
  align-items: center;
  justify-content: center;
}
.header-center span {
  font-size: 17px;
  color: #616161;
}
.header-right {
  width: auto;
  height: 44px;
  position: absolute;
  right: 0;
}
.content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background-color: #F3F5F7;

}

//xyw
/*
*{
  margin: 0px !important;
  padding: 0px !important;
}
ion-content,ion-header {
  position: relative !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑;
  color: black;
  background-color: #F3F5F7 !important;
}
//.item-inner {
//  border:none !important;
//}
//theme
.day-header{
  color: black;
}
.day-headline{
  background-color: #F3F5F7;
  border: none;
}
.day-Interactive{
  color: black;
  background-color: #F2F1EF;
  border: #DADFE3 1px solid;
  border-left: none;
  border-right: none;
}
.day-button-normal{

}
.day-button-danger{

}
.day-text-title{
  color: black;
}
.day-text-headline{
  color: black;
}
.day-text-normal{

}
.day-text-danger{

}
//frame
.header{
  height: 7.03%;
  position: relative;
}
.header-left{
  position: absolute;
  left:0px;
}
.header-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-right{
  position: absolute;
  right:0px;
}
.headline-box{
  height: 7.81%;
  position: relative;
}
.headline-box > div {
  border: none !important;
}
.message-box{
  height: 7.03%;
  position: relative;
}
.item-box{
  height: 7.81%;
  position: relative;
}
.text-center-vertical{
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
}
.text-center-horizontal{
  text-align: center;
}
.text-title{
  font-size: 2.5vh;
  font-weight: bold;
  line-height: 7.02vh;
}
.text-headline{
  font-size: 3.75vh;
}
.text-normal{
  font-size: 2.19vh;
}
.text-danger{

}

*/
