<ion-header  id="header">
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>材料进场</span>
  </div>
  <div class="header-right">
    <span></span>
  </div>
</ion-header>

<ion-content>
  <div padding color="dark">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="unfinished">
        待审
      </ion-segment-button>
      <ion-segment-button value="finished">
        已完成
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'unfinished'">
      <ion-item *ngFor="let unfinpro of unfinished" (click)="goEPMate(unfinpro)">
        <ion-avatar item-start>
          <img src="./assets/imgs/workicon/secissues.png">
        </ion-avatar>
        <h2>{{unfinpro.EPCSID}}<button ion-button color="danger" outline>待审中</button></h2>
        <p [ngStyle]="{'color':'gray'}">负责人:{{unfinpro.Employee.RealName}}</p>
        <ion-note item-end>{{GetTime(unfinpro.EntryDate)}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'finished'">
      <ion-item *ngFor="let finishedpro of finished" (click)="goEPMate(finishedpro)">
        <img [src]="GetTuPian(finishedpro.EPEntryResultID)"  small style="position: absolute;left:0;top:0;width: 45px;height: 45px">
        <h2>{{finishedpro.EPCSID}}<button ion-button color="light" class="myfinishbt" outline>已完成</button></h2>
        <p [ngStyle]="{'color':'gray'}">负责人:{{finishedpro.Employee.RealName}}</p>
        <ion-note item-end>{{GetTime(finishedpro.EntryDate)}}</ion-note>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addEPMateEntry()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
