page-inspection {
  .AcList-Header{
    background-color: #f3f5f7;
    /* border: 1px #dadfe3 solid; */
    box-shadow: 2px 2px 5px #dadfe3;
    /* border-radius: 5%; */
    z-index: 2;
  }
  .AcList{
    margin: 0px !important;
  }
}
