<!--
  Generated template for the InspectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header day-header">
  <img class="header-left back" src="assets/imgs/common/back.png" (click)="goBack()"/>
  <div class="header-center">
    <span class="text-title day-text-title">检验批</span>
  </div>
  <div class="header-right" *ngIf="!isReadOnly">
    <ion-buttons end>
      <button ion-button clear color="dark" (click)="save(0)" *ngIf="!IsSelecting">
        保存
      </button>
      <button ion-button clear color="royal" (click)="save(1)" *ngIf="!IsSelecting">
        提交
      </button>
      <button ion-button clear item-end end style="width: 0px;padding: 0;" *ngIf="IsSelecting"></button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content class="day-background">

  <ion-list *ngIf="!IsSelecting">
    <ion-item class="operation-box day-Interactive">
      <ion-label color="dark">施工单位</ion-label>
      <ion-label style="color: darkgray;" text-end>{{ECUnitName}}</ion-label>
    </ion-item>
    <ion-item class="operation-box day-Interactive">
      <ion-label color="dark">施工负责人</ion-label>
      <ion-label style="color: darkgray;" text-end>{{PersonReportName}}</ion-label>
    </ion-item>
    <ion-item class="operation-box day-Interactive" (click)="SelectSubProj()">
      <ion-label item-start color="dark">分项工程</ion-label>
      <ion-label item-end text-end [ngStyle]="{'color':isReadOnly?'darkgray':'dark'}">{{SubProj.Name}}</ion-label>
    </ion-item>
    <ion-item class="operation-box day-Interactive" (click)="ShowInspections()">
      <ion-label color="dark">重点</ion-label>
      <ion-label item-end text-end [ngStyle]="{'color':isReadOnly?'darkgray':'dark'}">{{CurInspectionType.InspectionTypeName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="IsSelecting">
    <ion-item class="operation-box day-Interactive" *ngFor="let i of InspectionTypeList" (click)="SelectInspection(i)">
      {{i.InspectionTypeName}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!IsSelecting">
    <ion-item class="AcList-Header" (click)="ShowMAcList()">
      <ion-label>主控项目</ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="IsShowingMAcList" item-end></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!IsShowingMAcList" item-end></ion-icon>
    </ion-item>

    <ion-list class="AcList" *ngIf="IsShowingMAcList">
      <ion-item class="operation-box day-Interactive" *ngFor="let a of MAcList" (click)="CheckUp(a)">
        <ion-label>{{a.Acceptance.AcceptanceName}}</ion-label>
        <ion-icon name="ios-help-circle-outline" *ngIf="!a.IsConfirmed" item-end></ion-icon>
        <ion-icon name="ios-checkmark-circle-outline" *ngIf="a.IsConfirmed" item-end></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item class="AcList-Header" (click)="ShowJAcList()">
      <ion-label>一般项目</ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="IsShowingJAcList" item-end></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!IsShowingJAcList" item-end></ion-icon>
    </ion-item>

    <ion-list class="AcList" *ngIf="IsShowingJAcList">
      <ion-item class="operation-box day-Interactive" *ngFor="let a of JAcList" (click)="CheckUp(a)">
        <ion-label>{{a.Acceptance.AcceptanceName}}</ion-label>
        <ion-icon name="ios-help-circle-outline" *ngIf="!a.IsConfirmed" item-end></ion-icon>
        <ion-icon name="ios-checkmark-circle-outline" *ngIf="a.IsConfirmed" item-end></ion-icon>
      </ion-item>
    </ion-list>

  </ion-list>

  <ion-list *ngIf="!IsSelecting">
    <ion-item class="operation-box day-Interactive" (click)="addPhoto()">
      <ion-icon name="ios-camera-outline" item-start></ion-icon>
      <ion-label id="fileLabel">记录上传文件数量</ion-label>
    </ion-item>
    <ul style="list-style: none;margin:0;padding:0">
      <li *ngFor="let photo of photoes;let i=index" style="display: inline-block;margin-right: 5px;position: relative">
        <img style="width:120px;height:120px;" [src]="photo.src">
        <ion-icon name="close" small style="position: absolute;right:0;top:0;" (click)="deletePhoto(i)"></ion-icon>
      </li>
    </ul>
  </ion-list>

  <div class="footer"></div>
</ion-content>
