<!--
  Generated template for the InspectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="header-left" (click)="goBack()">
    <img src="assets/imgs/common/back.png"/>
  </div>
  <div class="header-center">
    <span>检验批</span>
  </div>
  <ion-buttons end>
    <button ion-button clear color="dark" (click)="save(0)" *ngIf="!IsSelecting">
      保存
    </button>
    <button ion-button clear color="royal" (click)="save(1)" *ngIf="!IsSelecting">
      提交
    </button>
    <button ion-button clear item-end end style="width: 0px;padding: 0;" *ngIf="IsSelecting"></button>
  </ion-buttons>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!IsSelecting">
    <ion-item>
      <ion-label color="dark">施工单位</ion-label>
      <ion-label text-end>{{ECUnitName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="dark">施工负责人</ion-label>
      <ion-label text-end>{{PersonReportName}}</ion-label>
    </ion-item>
    <ion-item (click)="SelectSubProj()">
      <ion-label item-start color="dark">分项工程</ion-label>
      <ion-label item-end text-end>{{SubProj.Name}}</ion-label>
    </ion-item>
    <ion-item (click)="ShowInspections()">
      <ion-label color="dark">重点</ion-label>
      <ion-label item-end text-end>{{CurInspectionType.InspectionTypeName}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="IsSelecting">
    <ion-item *ngFor="let i of InspectionTypeList" (click)="SelectInspection(i)">
      {{i.InspectionTypeName}}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!IsSelecting">
    <ion-item class="AcList-Header" (click)="ShowMAcList()">
      <ion-label>主控项目</ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="IsShowingMAcList" item-end></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!IsShowingMAcList" item-end></ion-icon>
    </ion-item>

    <ion-list class="AcList" *ngIf="IsShowingMAcList">
      <ion-item *ngFor="let a of MAcList" (click)="CheckUp(a)">
        <ion-label>{{a.Acceptance.AcceptanceName}}</ion-label>
        <ion-icon name="ios-help-circle-outline" *ngIf="!a.AcceptanceRecord.IsConfirmed" item-end></ion-icon>
        <ion-icon name="ios-checkmark-circle-outline" *ngIf="a.AcceptanceRecord.IsConfirmed" item-end></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item class="AcList-Header" (click)="ShowJAcList()">
      <ion-label>一般项目</ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="IsShowingJAcList" item-end></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!IsShowingJAcList" item-end></ion-icon>
    </ion-item>

    <ion-list class="AcList" *ngIf="IsShowingJAcList">
      <ion-item *ngFor="let a of JAcList" (click)="CheckUp(a)">
        <ion-label>{{a.Acceptance.AcceptanceName}}</ion-label>
        <ion-icon name="ios-help-circle-outline" *ngIf="!a.AcceptanceRecord.IsConfirmed" item-end></ion-icon>
        <ion-icon name="ios-checkmark-circle-outline" *ngIf="a.AcceptanceRecord.IsConfirmed" item-end></ion-icon>
      </ion-item>
    </ion-list>

  </ion-list>

</ion-content>
